<head>
  <title>Harry's chat service</title>
</head>
<body>
  <h1>Please give few seconds</h1>
  <form action="/chat" method="post">
  Your name: <input type="text" id="my_user" name="userName" value="Guest" placeholder="Guest">
  <br><br>
  Chatroom :
  <select name="chatroom">
    <option value="open" selected="selected">open</option>
    <option value="sushil_wala">sushil wala</option>
  </select>
  <br><br>
  <input type="submit" value="Enter chat room" id="enter_room">
  </div>
</form>
</body>
